/Source/OOCMoveSpeedBoost/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/indexLayout.xml
/Source/OOCMoveSpeedBoost/obj/Debug/OOCMoveSpeedBoost.csproj.AssemblyReference.cache
/Source/OOCMoveSpeedBoost/obj/Debug/OOCMoveSpeedBoost.csproj.CoreCompileInputs.cache
/Source/OOCMoveSpeedBoost/obj/Debug/OOCMoveSpeedBoost.csproj.FileListAbsolute.txt
/Source/OOCMoveSpeedBoost/obj/Debug/OOCMoveSpeedBoost.dll
/Source/OOCMoveSpeedBoost/obj/Debug/OOCMoveSpeedBoost.pdb
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/projectSettingsUpdater.xml
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_09_2025_13_44_[Changes]/shelved.patch
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_09_2025_13_44_[Changes]1/shelved.patch
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_09_2025_13_44__Changes_.xml
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/vcs.xml
/Source/OOCMoveSpeedBoost/.idea/.idea.OOCMoveSpeedBoost/.idea/workspace.xml
